@font-face {
    font-family: 'IconFont'; /* tên bạn đặt cho font */
    src: url('Aristotelica-Icons-Regular-trial.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MainFont'; /* tên bạn đặt cho font */
    src: url('JetBrainsMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
:root {
    --bg: rgb(233, 233, 233);
    --fg: rgb(37, 37, 37);
    --bg-second: rgb(255, 255, 255);
    --fg-second: rgb(175, 175, 175);
    --cl-protein: rgb(218, 122, 122);
    --cl-carb: rgb(137, 159, 192);
    --cl-fat: rgb(162, 105, 201);
    --cl-fiber: rgb(161, 212, 161);
    --cl-kcal: rgb(122, 122, 122);
    --cl-duration: rgb(138, 138, 138);
    --cl-kcalburn: rgb(184, 83, 83);
    --w-num: 6rem;
    --w-input: 12rem;
    --radius: 0.2rem;
    --gap: 0.1rem;
    --progess-height: 0.4rem;
    --btn-size: 1.4rem;
    --font:  'MainFont', Courier;
    --font-icon: "IconFont";
    --font-size: 1rem;
}

* {
    box-sizing: border-box;
    font-family: var(--font);
    font-size: var(--font-size);
    padding: 0;
}

html,
body {
    margin: auto;
    background: var(--bg);
    color: var(--fg);
    max-width: 1000px;
    padding: 0.3rem;
}

h1 {
    flex: 1;
    font-size: 1.4rem;
    text-align: left;
    margin: var(--gap);
}

h2 {
    font-size: 1.1rem;
    flex: 1;
    text-align: center;
    margin: var(--gap);
}
h3 {
    flex: 1;
    margin: var(--gap);
}

p {
    margin: var(--gap);
}
article {
    margin-top: 1rem;
}
hr {
    flex: 1;
    border-top: 1px dashed var(--fg);
}
/* ============================== Button */
button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: var(--btn-size);
    height: var(--btn-size);
    border: none;
    border-radius: var(--radius);
    background-color: var(--bg);
    color: var(--fg);
    margin: var(--gap);
}

button:hover {
    color: var(--bg-second);
    background-color: var(--fg);
}
.button-icon {
    font-family: var(--font-icon);
    padding-top: 0.4rem;
    background-color: var(--bg);
    border-radius: 50%;
}
/* ============================== Input Select */

input,
select {
    border: none;
    background-color: var(--bg);
    color: var(--fg);
    border-radius: var(--radius);
    padding: var(--gap);
    margin: var(--gap);
}

input:hover,
input:focus,
select:hover {
    background-color: var(--bg-second);
    color: var(--fg);
}

input[type="number"] {
    text-align: right;
}
.header-input {
    width: var(--w-input);
}
/* ============================== Progress */
.progress-kcal,
.progress-protein,
.progress-carb,
.progress-fat,
.progress-fiber,
.progress-duration,
.progress-kcalBurn {
    height: var(--progess-height);
    border-radius: var(--radius);
}
.progress-kcal::-webkit-progress-bar,
.progress-protein::-webkit-progress-bar,
.progress-carb::-webkit-progress-bar,
.progress-fat::-webkit-progress-bar,
.progress-fiber::-webkit-progress-bar,
.progress-duration::-webkit-progress-bar,
.progress-kcalBurn::-webkit-progress-bar {
    background-color: rgba(104, 104, 104, 0.103);
    border-radius: var(--radius);
}
.progress-kcal::-webkit-progress-value,
.progress-protein::-webkit-progress-value,
.progress-carb::-webkit-progress-value,
.progress-fat::-webkit-progress-value,
.progress-fiber::-webkit-progress-value,
.progress-duration::-webkit-progress-value,
.progress-kcalBurn::-webkit-progress-value {
    height: var(--progess-height);
    border-radius: var(--radius);
}
.progress-kcal::-webkit-progress-value {
    height: var(--progess-height);
    background-color: var(--cl-kcal);
}
.progress-protein::-webkit-progress-value {
    height: var(--progess-height);
    background-color: var(--cl-protein);
}
.progress-carb::-webkit-progress-value {
    height: var(--progess-height);
    background-color: var(--cl-carb);
}
.progress-fat::-webkit-progress-value {
    height: var(--progess-height);
    background-color: var(--cl-fat);
}
.progress-fiber::-webkit-progress-value {
    height: var(--progess-height);
    background-color: var(--cl-fiber);
}
.progress-duration::-webkit-progress-value {
    height: var(--progess-height);
    background-color: var(--cl-duration);
}
.progress-kcalBurn::-webkit-progress-value {
    height: var(--progess-height);
    background-color: var(--cl-kcalburn);
}
/* ============================== Navigation */
.nav {
    background-color: var(--fg);
    border-radius: var(--radius);
    padding: var(--gap);
    display: flex;
    gap: var(--gap);
    margin: var(--gap)
}
.nav-btn {
    flex: 1;
    align-items: center;
    background-color: var(--fg-second);
    border: none;
    border-radius: var(--radius);
    margin: var(--gap);
    padding: var(--gap);
}
.nav-btn.active {
    background-color: var(--fg);
    color: var(--bg-second);
}
.nav-sec {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    padding: var(--gap);
}
.hidden {
    display: none;
}

/* ============================== Text */
.number {
    white-space: nowrap;
    width: var(--w-num);
    text-align: right;
    flex: 1;
}
.label {
    flex: 1;
    text-wrap: nowrap;
}

/* ============================== Flex */
.flex-col {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: var(--gap);
    padding: var(--gap);
}
.flex-row {
    display: flex;
    flex: 1;
    gap: var(--gap);
    padding: var(--gap);
    align-items: center;
}
/* ============================== Ratio */
.ratio-bar {
    height: var(--progess-height);
    flex: 1;
    border: none;
    border-radius: var(--radius);
    overflow: hidden;
    position: relative;
}
.ratio-bar .protein {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background: var(--cl-protein);
}
.ratio-bar .carb {
    position: absolute;
    top: 0;
    bottom: 0;
    background: var(--cl-carb);
}
.ratio-bar .fat {
    position: absolute;
    top: 0;
    bottom: 0;
    background: var(--cl-fat);
}

/* ============================== Modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--bg);
    padding: 1rem;
    border-radius: var(--radius);
    width: 90%;
    max-width: 400px;
    max-height: 800px;
    box-sizing: border-box;
    overflow: auto;
}
.modal-input {
    background-color: var(--bg-second);
    flex: 1;
    min-width: 30%;
    max-width: 50%;
}
.modal-input-max {
    background-color: var(--bg-second);
    flex: 1;
}
.modal-btn {
    background-color: var(--fg-second);
    flex: 1;
}

/* ============================== Solid */
.underline {
    border-bottom: 1px dashed var(--fg);
}
.solid-light {
    background-color: var(--bg-second);
    border-radius: var(--radius);
}
.solid-bold {
    background-color: var(--fg-second);
    border-radius: var(--radius);
}
.solid-heavy {
    background-color: var(--fg);
    border-radius: var(--radius);
    color: var(--bg-second);
}
/* ============================== SVG */
svg {
    display: block;
    width: 100%;
    height: 300px;
    background-color: var(--bg-second);
    margin-top: 1rem;
}